# Requirement file

# Run `pip install -r requirements.txt` to install the required dependencies.
# The versions installed will be recorded in the provenance data.

GitPython
pyyaml
py-cpuinfo<5.0.0

pytest
pytest-cov
sphinx
sphinx-rtd-theme
